<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Onboarding Status</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @* Uncomment to use the HtmlEditor control *@
    @* <script src="https://unpkg.com/devextreme-quill@21_2/dist/dx-quill.min.js"></script> *@

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")

    @RenderSection("Localization", false)
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~/")';
    </script>
</head>

<body>
    <main role="main" class="container">
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
    <div class="loadPanel"></div>
    <script>
        var loadPanel = $(".loadPanel").dxLoadPanel({
            shadingColor: "rgba(0,0,0,0.4)",
            position: { of: "#body-container" },
            visible: false,
            showIndicator: true,
            showPane: true,
            shading: true,
            closeOnOutsideClick: false,
            onShowing: function () {
            },
            onShown: function () {
            },
            onHidden: function () {
            }
        }).dxLoadPanel("instance");
    </script>
</body>

</html>